@use '../variables' as variables;

@media screen and (max-width: 1199px) {
    .btn.btn_lg {
        padding: 17px 24px;
    }

    .about__container {
        gap: 72px;
    }

    .popular-info__subtitle {
        margin-bottom: 28px;
    }

    .blog-item {
        flex-direction: column;

        &__content-box {
            flex: 1 0 225px;
        }

        &__image-box {
            align-self: center;
        }
    }
}