@use '../variables' as variables;

@media screen and (min-width: 768px) {
    .blog-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px 20px;
    }

    .swiper-blog {
        .slider-nav {
            display: none;
        }
    }
}