@use '../variables' as variables;

@media (min-width: 1025px) {
    .hamburger,
    form ~ .btn,
    .header__nav-link svg {
        display: none;
    }    

    .header__mobile-container {
        display: flex;
        gap: 38px;
        margin-left: auto;
    }
}