@use 'variables'as variables;

.about {
    background-color: variables.$bg-accent-color;
    padding: 100px 0;
}

.about__container {
    display: flex;
    gap: 120px;
}

.about__media {
    max-width: 480px;
    width: 100%;
    display: flex;

    &-item {
        width: 350px;
        height: 400px;
        display: flex;
        align-items: stretch;
        position: relative;

        &:last-child {
            margin: 125px 0 0 -220px;
        }
    }

    &-img {
        border-radius: 24px;
        width: 100%;
        object-fit: cover;
    }
}

.template-content {
    padding-top: 62px;
    max-width: 580px;
    width: 100%;
}

.template-top-title {
    color: variables.$text-accent-color;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 7px;
}

.template-title {
    color: variables.$brand-dark-color;
    font-weight: 800;
    margin-bottom: 38px;
}

.template-description {
    color: variables.$brand-dark-color;
    margin-bottom: 40px;
    font-size: 18px;
}