@use 'variables'as variables;

.first-screen {
    display: flex;
    align-items: flex-end;
    padding-bottom: 82px;
    height: max(100vh, 985px);
    max-height: 985px;
    background: url(./assets/img/banner.png) center / cover no-repeat;

    &__title {
        color: variables.$brand-light-color;
        font-family: variables.$font-secondary;
        font-weight: 700;
        margin-bottom: 41px;
        letter-spacing: 1px;
    }

    &-form {
        display: flex;
        align-items: start;
        gap: 24px;
        padding: 39px 42px;
        border-radius: 10px;
        backdrop-filter: blur(6px);
        background-color: #ffffff33;
    }

    .input-box {
        label:not(.label-icon) {
            padding-top: 9px;
        }
    }

    .input-box:last-child {
        max-width: 213px;
    } 
}