@use "variables";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%; // iOS
}

body {
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    font-size: variables.$font-size-base;
    background: variables.$bg-color;
    color: variables.$brand-dark-color;
    font-family: variables.$font-primary;
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

a,
input,
button,
textarea,
select {
    font-family: variables.$font-primary;
}

input {
    padding: 13px 16px;
    border: 1px solid #e1e3e4; 
    border-radius: 8px; 
    background: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    max-width: 270px;
    width: 100%;

    &::placeholder {
        color: variables.$brand-light-color;
    }
}

textarea {
    @extend input;
    max-height: 240px;
    min-height: 128px;
}

input:not(.date-input)::placeholder {
    font-weight: 300;
}

label {
    color: variables.$brand-light-color;

    svg {
        width: 18px;
        height: 18px;
    }
}

img,
picture,
video,
canvas,
svg {
    display: block;
    height: auto;
    max-width: 100%;
}

ul[class],
ol[class] {
    list-style: none;
}

a {
    color: variables.$text-accent-color;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
        text-decoration: underline;
        color: variables.$primary-color;
    }
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img:not([alt]),
img[alt=""] {
    filter: blur(10px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    color: variables.$primary-color;
    margin-bottom: 1em;
}

h1 {
    font-size: variables.$h1-font-size;
    line-height: variables.$h1-line-height;
}

h2 {
    font-size: variables.$h2-font-size;
    line-height: variables.$h2-line-height;
}

h3 {
    font-size: variables.$h3-font-size;
    line-height: variables.$h3-line-height;
}

h4 {
    font-size: variables.$h4-font-size;
    line-height: variables.$h4-line-height;
}

h5 {
    font-size: variables.$h5-font-size;
    line-height: variables.$h5-line-height;
}

h6 {
    font-size: variables.$h6-font-size;
    line-height: variables.$h6-line-height;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

i, 
em {
    font-style: italic;
}

b,
strong {
    font-weight: bold;
}

footer {
    margin-top: auto;
}

.container {
    max-width: 1204px;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    font-weight: 600;
    line-height: 1;
    border-radius: 4px;
    padding: 13px 24px;
    border: 1px solid transparent;
    display: inline-block;
    transition: 0.5s;

    &:hover {
        text-decoration: none;
    }

    &.btn_primary {
        border-color: variables.$primary-color;
        background-color: variables.$primary-color;
        color: variables.$brand-light-color;
        &:hover {
            background-color: variables.$brand-light-color;
            color: variables.$primary-color;
            border-color: variables.$primary-color;
        }
    }

    &.btn_lg {
        padding: 17px 37px;
    }

    &.btn_secondary {
        @include variables.btn-secondary;      
    }
}

.btn-play {
    border-radius: 24px;
    border: none;
    inset: 0;
    position: absolute;
    background-color: #ffffff00;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fdfdfd99;
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        transition: background-color 0.5s;
    }

    svg {
        width: 15px;
        height: 16px;
        color: variables.$primary-color;
        transition: color 0.5s;
    }

    &:hover {
        background-color: #ffffff25;

        span {
            background-color: #fdfdfd;
        }

        svg {
            color: variables.$text-accent-color;
        }
    }
}

.input-box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    label {
        cursor: pointer;
        font-size: 14px;
        padding: 0 0 0 10px;

        &.label-icon {
            position: absolute;
            top: 17px;
            right: 15px;
            padding: 0;
        }
    }

    .date-input {
        color: variables.$brand-light-color;
    }

    &:hover {
        .date-input {
            &::placeholder {
                color: variables.$text-accent-color;
            }
            + label {
                color: variables.$text-accent-color;
            }
        }
    }
}

.nice-select {
    color: #fdfdfd;
    height: 52px;
    padding: 0 36px 0 16px;
    border: 1px solid #e1e3e4;              
    border-radius: 8px;
    background: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    width: 100%;
    max-width: 270px;

    &:after {
        border-bottom: 2px solid #fdfdfd;
        border-right: 2px solid #fdfdfd;
        height: 11px;
        margin-top: -8px;
        right: 19px;
        width: 11px;
    }
    .nice-select-dropdown {
        background-color: variables.$primary-color;
    }
    .option:hover,
    .option.focus,
    .option.selected.focus {
        @include variables.background-blur;
    }
    &.open + label {
        opacity: 0;
    }
}

.overflow-hidden {
    overflow: hidden;
}

.close-modal {
    color: variables.$bg-accent-color;
}

.close-modal__svg {
    width: 36px;
    height: 36px;
}

.d-none,
.hidden-select {
    display: none;
}

::selection {
    background-color: variables.$primary-color;
    color: variables.$text-accent-color;
}