@use 'variables'as variables;

.header {
    margin-bottom: -104px;
    padding: 16px 0;
    z-index: 10;

    .container {
        display: flex;
        align-items: center;
    }

    &__logo {
        img {
            height: 72px;
        }
    }

    &__mobile-container {
        display: flex;
        align-items: center;
        gap: 38px;

        &.show {
            display: flex;
        }
    }

    &__nav-list {
        display: flex;
    }

    &__nav-link {
        color: variables.$brand-light-color;
        display: inline-block;
        padding: 12px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.14px;

        &:hover {
            text-decoration: none;
            color: variables.$text-accent-color;
            
            svg {
                margin-right: 16px;
            }
        }

        &:focus,
        &:focus-visible {
            outline: none;
        }
    }
}

.hamburger {
    margin-left: auto;
    z-index: 10;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: variables.$bg-accent-color;
}
