@use 'variables'as variables;

.modal {
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 20;
    opacity: 0;
    transition: opacity 0.5s, transform 0.75s, top 0.75s;
}

#close-modal {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    transition: opacity 0.5s, transform 0.3s;

    &:hover {
        transform: rotate(180deg);
    }
}