@use 'variables'as variables;

.modal {
    @include variables.background-blur;
    position: fixed;
    inset: 0;
    z-index: -10;
    opacity: 0;
    transition: opacity 0.5s, z-index 0.5s;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;

    &.show {
        opacity: 1;
        z-index: 20;
    }

    .nice-select,
    input,
    textarea {
        max-width: 100%;
    }

    &-body {
        max-width: 450px;
    }
}

.modal-template {
    &.show {    
        background-color: #85bcff80;
    }

    &__title,
    &__subtitle {
        color: variables.$primary-color;
    }

    .input-box {
        input,
        textarea {
            color: variables.$brand-dark-color;
        }
    }
}

.template-form-wrapper {
    @include variables.background-blur;
    border: 1px solid #ffffff;
    border-radius: 12px;
    padding: 36px 36px 48px;
}

.template-form {
    display: grid;
    gap: 24px;
}

.close-modal {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    transition: opacity 0.5s, transform 0.3s;

    &:hover {
        transform: rotate(180deg);
    }
}