@use 'variables'as variables;

.modal {
    @include variables.background-blur;
    position: fixed;
    inset: 0;
    z-index: -10;
    opacity: 0;
    transition: opacity 0.5s, z-index 0.5s;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;

    &.show {
        opacity: 1;
        z-index: 20;
    }

    .nice-select,
    input,
    textarea {
        max-width: 100%;
    }

    &-body {
        max-width: 450px;
    }
}

.modal-template {
    &.show {    
        background-color: #85bcff80;
    }

    &__title,
    &__subtitle {
        color: variables.$primary-color;
    }

    .input-box {
        input,
        textarea {
            color: variables.$brand-dark-color;
        }
    }
}

.template-form-wrapper {
    @include variables.background-blur;
    border: 1px solid #ffffff;
    border-radius: 12px;
    padding: 36px 36px 48px;
}

.template-form {
    display: grid;
    gap: 24px;
}

.close-modal {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    transition: opacity 0.5s, transform 0.3s;

    &:hover {
        transform: rotate(180deg);
    }
}

.steps__nav {
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.steps__nav_show {
    display: grid;
}

.steps__first-step,
.steps__second-step {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}

.steps__first-step_hidden {
    display: none;
}

.steps__second-step_hidden {
    display: none;
}

.message {
    color: #f00;
    font-size: 12px;
    font-weight: 600;
    padding: 0 0 0 10px;
    max-width: 230px;
    width: 100%;
    transition: line-height 1s, opacity 1s;
    line-height: 1.4;
    opacity: 1;
}

.message__valid {
    color: #0f0;
}

.error-field [data-required-field],
.error-field .nice-select {
    background-color: #ff000030;
    border-color: #ff000030;
    box-shadow: 0 0 15px -1px #ff1414e6;
    transition: box-shadow 0.3s, background-color 1s, border-color 1s;
}

.valid-field [data-required-field],
.valid-field .nice-select {
    background-color: #00ff0030;
    border-color: #00ff0030;
    box-shadow: 0 0 15px -1px #1bde1bd0;
    transition: box-shadow 0.3s, background-color 1s, border-color 1s;
}