@use 'variables' as variables;

.popular {
    @include variables.section-padding;
    background-color: variables.$bg-accent-color;
}

.swiper-popular {
    border-radius: 32px;
}

.swiper-slide_popular {
    border-radius: 32px;
    height: 500px;
    overflow: hidden;

    &:hover {
        .popular-info {
            height: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 32px;

            &__title,
            &__subtitle {
                -webkit-line-clamp: initial;
            }

            &__description {
                display: block;
            }
        }

        .popular-rating {
            opacity: 0;
        }

        .btn {
            display: block;
        }
    }
}

.popular-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 0;
    width: 65px;
    padding: 4px 8px;
    border-radius: 4px 0 0 4px;
    background-color: #fdfdfd66;
    backdrop-filter: blur(4px);
    opacity: 1;
    transition: opacity 0.8s;

    &__star {
        color: variables.$text-accent-color;

        &-icon {
            width: 24px;
            height: 24px;
        }
    }

    &__value {
        color: variables.$primary-color;
        font-size: 14px;
        font-weight: 700;
        margin-top: 3px;
    }
}

.popular-info {
    --text-padding: 98px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    padding: 20px 32px 23px;
    background-color: #ffffff33;
    border-radius: 0 0 32px 32px;
    backdrop-filter: blur(6px);
    transition: height 0.5s, border-radius 0.5s;

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 0;
        padding-right: var(--text-padding);
    }

    &__subtitle {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.28;
        margin-bottom: 38px;
        padding-right: var(--text-padding);
    }

    &__price {
        position: absolute;
        top: 25px;
        right: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 86px;
        padding: 8px 16px;
        border-radius: 4px;
        background-color: #ffffff4d;
        font-size: 20px;
        color: variables.$brand-light-color;
    }

    &__description {
        color: variables.$brand-light-color;
        display: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        padding-right: 12px;
    }

    .btn {
        display: none;
        margin-top: auto;
    }
}

.popular-info__title,
.popular-info__subtitle {
    color: variables.$brand-light-color;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
}