@use 'variables'as variables;

.popular {
    @include variables.section-padding;
    background-color: variables.$bg-accent-color;
}

.template-top-title_popular,
.template-title_popular {
    text-align: center;
}

.swiper-slide_popular {
    border-radius: 32px;
    height: 500px;
    overflow: hidden;

    &:hover {
        .popular-info {
            height: 100%;
        }

        .popular-rating {
            opacity: 0;
        }

        .popular-info__description {
            display: block;
        }
    }
}

.popular-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 0;
    width: 65px;
    padding: 4px 8px;
    border-radius: 4px 0 0 4px;
    background-color: #fdfdfd66;
    backdrop-filter: blur(4px);
    opacity: 1;
    transition: opacity 0.8s;

    &__star {
        color: variables.$text-accent-color;

        &-icon {
            width: 24px;
            height: 24px;
        }
    }

    &__value {
        color: variables.$primary-color;
        font-size: 14px;
        font-weight: 700;
        margin-top: 3px;
    }
}

.popular-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    padding: 20px 32px 23px;
    background-color: #ffffff33;
    backdrop-filter: blur(6px);
    transition: height 0.5s;

    &__title {
        margin-bottom: 0;
        color: variables.$brand-light-color;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
    }

    &__subtitle {
        color: variables.$brand-light-color;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 38px;
    }

    &__price {
        position: absolute;
        top: 25px;
        right: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 86px;
        padding: 8px 16px;
        border-radius: 4px;
        background-color: #ffffff4d;
        color: variables.$brand-light-color;
    }

    &__description {
        color: variables.$brand-light-color;
        display: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 105px;
    }
}