<section class="blog">
    <div class="container">
        <h3 class="template-top-title template-top-title_centred">делимся впечатлениями</h3>
        <h2 class="template-title template-title_centred">Блог о путешествиях</h2>
        <div class="swiper swiper-blog">
            <div class="blog-grid swiper-wrapper">
                <div class="blog-item swiper-slide swiper-slide_blog">
                <div class="blog-item__image-box">
                    <img class="blog-item__image" src="./assets/img/image-blog-1.png" alt="image-blog-1">
                </div>
                <div class="blog-item__content-box">
                    <h3 class="blog-item__title">Красивая Италя, какая она в реальности?</h3>
                    <h6 class="blog-item__description">Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.</h6>
                    <div class="blog-item-row">
                        <div class="blog-item-row__date">01/04/2023</div>
                        <a href="#" class="blog-item-row__link">читать статью</a>
                    </div>
                </div>
                </div>
                <div class="blog-item swiper-slide swiper-slide_blog">
                <div class="blog-item__image-box">
                    <img class="blog-item__image" src="./assets/img/image-blog-2.png" alt="image-blog-2">
                </div>
                <div class="blog-item__content-box">
                    <h3 class="blog-item__title">Долой сомнения! Весь мир открыт для вас!</h3>
                    <h6 class="blog-item__description">Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации ... независимые способы реализации соответствующих условий активизации ...Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации ... независимые способы реализации соответствующих условий активизации ...</h6>
                    <div class="blog-item-row">
                        <div class="blog-item-row__date">01/04/2023</div>
                        <a href="#" class="blog-item-row__link">читать статью</a>
                    </div>
                </div>
                </div>
                <div class="blog-item swiper-slide swiper-slide_blog">
                <div class="blog-item__image-box">
                    <img class="blog-item__image" src="./assets/img/image-blog-3.png" alt="image-blog-3">
                </div>
                <div class="blog-item__content-box">
                    <h3 class="blog-item__title">Как подготовиться к путешествию в одиночку? </h3>
                    <h6 class="blog-item__description">Для современного мира базовый вектор развития предполагает.</h6>
                    <div class="blog-item-row">
                        <div class="blog-item-row__date">01/04/2023</div>
                        <a href="#" class="blog-item-row__link">читать статью</a>
                    </div>
                </div>
                </div>
                <div class="blog-item swiper-slide swiper-slide_blog">
                <div class="blog-item__image-box">
                    <img class="blog-item__image" src="./assets/img/image-blog-4.png" alt="image-blog-4">
                </div>
                <div class="blog-item__content-box">
                    <h3 class="blog-item__title">Индия ... летим?</h3>
                    <h6 class="blog-item__description">Для современного мира базовый.</h6>
                    <div class="blog-item-row">
                        <div class="blog-item-row__date">01/04/2023</div>
                        <a href="#" class="blog-item-row__link">читать статью</a>
                    </div>
                </div>
                </div>
            </div>
            <div class="slider-nav">
                <div class="swiper-pagination swiper-blog-pagination"></div>
                <div class="swiper-button-prev swiper-blog-button-prev"></div>
                <div class="swiper-button-next swiper-blog-button-next"></div>
            </div>
        </div>
    </div>
</section>