<footer class="footer">
    <div class="footer__container container">
        <address class="footer-address">
            <h5 class="footer-address__title">Компания «РумТибет»</h5>
            <p class="footer-address__description">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney.</p>
            <nav class="footer-address__row">
                <a class="footer-address__link" href="mailto:info@domain.com">info@domain.com</a>
                <a class="footer-address__link" href="tel:+380444618061">+380 (44) 461-80-61</a>
            </nav>
            <nav class="footer-address__social">
                <a class="footer-address__social-link" href="#">
                    <svg class="footer-address__social-svg">
                        <use href="#icon-telegram"></use>
                    </svg>
                </a>
                <a class="footer-address__social-link" href="#">
                    <svg class="footer-address__social-svg">
                        <use href="#icon-vk"></use>
                    </svg>
                </a>
                <a class="footer-address__social-link" href="#">
                    <svg class="footer-address__social-svg">
                        <use href="#icon-pinterest"></use>
                    </svg>
                </a>
                <a class="footer-address__social-link" href="#">
                    <svg class="footer-address__social-svg">
                        <use href="#icon-skype"></use>
                    </svg>
                </a>
            </nav>
        </address>
        <div class="footer-nav">
            <nav class="footer-nav-item">
                <h5 class="footer-nav__title">Наши услуги</h5>
                <ul class="footer-nav__list">
                    <li class="footer-nav__list-item"><a class="footer-nav__link" href="#">Прогулки в горы летом <svg class="footer-nav__link-svg"><use href="#icon-arrow-right"></use></svg></a></li>
                    <li class="footer-nav__list-item"><a class="footer-nav__link" href="#">Зимние походы в горы <svg class="footer-nav__link-svg"><use href="#icon-arrow-right"></use></svg></a></li>
                    <li class="footer-nav__list-item"><a class="footer-nav__link" href="#">Посещение храмов в горах <svg class="footer-nav__link-svg"><use href="#icon-arrow-right"></use></svg></a></li>
                    <li class="footer-nav__list-item"><a class="footer-nav__link" href="#">Экстремальные виды туризма <svg class="footer-nav__link-svg"><use href="#icon-arrow-right"></use></svg></a></li>
                    <li class="footer-nav__list-item"><a class="footer-nav__link" href="#">Походы в джунглях Амазонии <svg class="footer-nav__link-svg"><use href="#icon-arrow-right"></use></svg></a></li>
                    <li class="footer-nav__list-item"><a class="footer-nav__link" href="#">Поездка в Африку <svg class="footer-nav__link-svg"><use href="#icon-arrow-right"></use></svg></a></li>
                </ul>
            </nav>
            <nav class="footer-nav-item">
                <h5 class="footer-nav__title">Важно для путешествий</h5>
                <ul class="footer-nav__list">
                    <li class="footer-nav__list-item"><a class="footer-nav__link" href="#">Как собрать в долгий поход? <svg class="footer-nav__link-svg"><use href="#icon-arrow-right"></use></svg></a></li>
                    <li class="footer-nav__list-item"><a class="footer-nav__link" href="#">Жизненно важные предметы для похода <svg class="footer-nav__link-svg"><use href="#icon-arrow-right"></use></svg></a></li>
                    <li class="footer-nav__list-item"><a class="footer-nav__link" href="#">Медицинская страховка, гарантии безопасности <svg class="footer-nav__link-svg"><use href="#icon-arrow-right"></use></svg></a></li>
                    <li class="footer-nav__list-item"><a class="footer-nav__link" href="#">Если вы врач - загляните сюда <svg class="footer-nav__link-svg"><use href="#icon-arrow-right"></use></svg></a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>