<section class="gallery">
    <div class="container">
        <h3 class="template-top-title template-top-title_centred">фото-отчет</h3>
        <h2 class="template-title template-title_centred">Делимся впечатлениями</h2>
        <div class="swiper swiper-gallery">
            <div class="gallery-grid swiper-wrapper">
                <a data-fslightbox href="./assets/img/gallery-1-xl.png" class="swiper-slide gallery-grid__item gallery-grid__item_1">
                    <img src="./assets/img/gallery-1.png" alt="gallery-1" class="gallery-img">
                </a>
                <a data-fslightbox href="./assets/img/gallery-2-xl.png" class="swiper-slide gallery-grid__item gallery-grid__item_2">
                    <img src="./assets/img/gallery-2.png" alt="gallery-2" class="gallery-img">
                </a>
                <a data-fslightbox href="./assets/img/gallery-3-xl.png" class="swiper-slide gallery-grid__item gallery-grid__item_3">
                    <img src="./assets/img/gallery-3.png" alt="gallery-3" class="gallery-img">
                </a>
                <a data-fslightbox href="./assets/img/gallery-4-xl.png" class="swiper-slide gallery-grid__item gallery-grid__item_4">
                    <img src="./assets/img/gallery-4.png" alt="gallery-4" class="gallery-img">
                </a>
                <a data-fslightbox href="./assets/img/gallery-5-xl.png" class="swiper-slide gallery-grid__item gallery-grid__item_5">
                    <img src="./assets/img/gallery-5.png" alt="gallery-5" class="gallery-img">
                </a>
                <a data-fslightbox href="./assets/img/gallery-6-xl.png" class="swiper-slide gallery-grid__item gallery-grid__item_6">
                    <img src="./assets/img/gallery-6.png" alt="gallery-6" class="gallery-img">
                </a>
            </div>
            <div class="slider-nav">
                <div class="swiper-pagination swiper-gallery-pagination"></div>
                <div class="swiper-button-prev swiper-gallery-button-prev"></div>
                <div class="swiper-button-next swiper-gallery-button-next"></div>
            </div>
        </div>
    </div>
</section>