<section class="offers">
    <div class="container">
        <div class="template-content offers__template-content">
            <h3 class="template-top-title">наше предложение</h3>
            <h2 class="template-title">Лучшие программы для тебя</h2>
            <p class="template-description">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть
                более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.</p>
            <div class="offers-advanteges">
                <div class="offers-advanteges__item">
                    <svg>
                        <use href="#experienced-guide"></use>
                    </svg>
                    <h6>Опытный гид</h6>
                    <p>Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.</p>
                </div>
            </div>
            <div class="offers-advanteges">
                <div class="offers-advanteges__item">
                    <svg>
                        <use href="#safe-trip"></use>
                    </svg>
                    <h6>Безопасный поход</h6>
                    <p>Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.</p>
                </div>
            </div>
            <div class="offers-advanteges">
                <div class="offers-advanteges__item">
                    <svg>
                        <use href="#loyal-prices"></use>
                    </svg>
                    <h6>Лояльные цены</h6>
                    <p>Для современного мира базовый вектор развития предполагает независимые способы реализации соответствующих условий активизации.</p>
                </div>
            </div>
            <button type="button" class="btn btn_primary btn_lg">Стоимость программ</button>
        </div>
    </div>
</section>