<section class="offers">
    <div class="container offers__container">
        <div class="template-content offers__template-content">
            <h3 class="template-top-title">наше предложение</h3>
            <h2 class="template-title">Лучшие программы для тебя</h2>
            <p class="template-description">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть
                более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.</p>
            <div class="offers-advanteges">
                <div class="offers-advanteges__item offers-advanteges__item_green">
                    <svg class="offers-advanteges__item-svg">
                        <use href="#experienced-guide"></use>
                    </svg>
                    <h6 class="offers-advanteges__item-title">Опытный гид</h6>
                    <p class="offers-advanteges__item-description">Для современного мира базовый вектор развития
                        предполагает независимые способы реализации соответствующих условий активизации.</p>
                </div>
                <div class="offers-advanteges__item offers-advanteges__item_blue">
                    <svg class="offers-advanteges__item-svg">
                        <use href="#safe-trip"></use>
                    </svg>
                    <h6 class="offers-advanteges__item-title">Безопасный поход</h6>
                    <p class="offers-advanteges__item-description">Для современного мира базовый вектор развития
                        предполагает независимые способы реализации соответствующих условий активизации.</p>
                </div>
                <div class="offers-advanteges__item offers-advanteges__item_yellow">
                    <svg class="offers-advanteges__item-svg">
                        <use href="#loyal-prices"></use>
                    </svg>
                    <h6 class="offers-advanteges__item-title">Лояльные цены</h6>
                    <p class="offers-advanteges__item-description">Для современного мира базовый вектор развития
                        предполагает независимые способы реализации соответствующих условий активизации.</p>
                </div>
            </div>
            <button type="button" class="btn btn_primary btn_lg">Стоимость программ</button>
        </div>
        <div class="offers-images">
            <img src="./assets/img/image-offers-1.png" class="image-offers" alt="image-offers">
            <img src="./assets/img/image-offers-2.png" class="image-offers" alt="image-offers">
            <img src="./assets/img/image-offers-3.png" class="image-offers" alt="image-offers">
            <img src="./assets/img/image-offers-4.png" class="image-offers" alt="image-offers">
        </div>
    </div>
</section>