<section class="popular">
    <div class="container">
        <h3 class="template-top-title template-top-title_popular">по версии отдыхающих</h3>
        <h2 class="template-title template-title_popular">Популярные направления</h2>
        <div class="swiper swiper_popular">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide_popular">
                    <img class="popular-image" src="./assets/img/image-popular-1.png" alt="image-popular-1">
                    <div class="popular-rating">
                        <div class="popular-rating__star">
                            <svg class="popular-rating__star-icon">
                                <use href="#icon-star"></use>
                            </svg>
                        </div>
                        <div class="popular-rating__value">4.9</div>
                    </div>
                    <div class="popular-info">
                        <h3 class="popular-info__title">Озеро возле гор</h3>
                        <div class="popular-info__subtitle">романтическое приключение</div>
                        <div class="popular-info__price">480 $</div>
                        <div class="popular-info__description">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.</div>
                        <button type="button" class="btn btn_primary">Программа тура</button>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide_popular">
                    <img class="popular-image" src="./assets/img/image-popular-2.png" alt="image-popular-2">
                    <div class="popular-rating">
                        <div class="popular-rating__star">
                            <svg class="popular-rating__star-icon">
                                <use href="#icon-star"></use>
                            </svg>
                        </div>
                        <div class="popular-rating__value">4.5</div>
                    </div>
                    <div class="popular-info">
                        <h3 class="popular-info__title">Ночь в горах</h3>
                        <div class="popular-info__subtitle">в компании друзей</div>
                        <div class="popular-info__price">500 $</div>
                        <div class="popular-info__description">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.</div>
                        <button type="button" class="btn btn_primary">Программа тура</button>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide_popular">
                    <img class="popular-image" src="./assets/img/image-popular-3.png" alt="image-popular-3">
                    <div class="popular-rating">
                        <div class="popular-rating__star">
                            <svg class="popular-rating__star-icon">
                                <use href="#icon-star"></use>
                            </svg>
                        </div>
                        <div class="popular-rating__value">5.0</div>
                    </div>
                    <div class="popular-info">
                        <h3 class="popular-info__title">Йога в горах</h3>
                        <div class="popular-info__subtitle">для тех, кто забоится о себе</div>
                        <div class="popular-info__price">230 $</div>
                        <div class="popular-info__description">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.</div>
                        <button type="button" class="btn btn_primary">Программа тура</button>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide_popular">
                    <img class="popular-image" src="./assets/img/image-popular-1.png" alt="image-popular-1">
                    <div class="popular-rating">
                        <div class="popular-rating__star">
                            <svg class="popular-rating__star-icon">
                                <use href="#icon-star"></use>
                            </svg>
                        </div>
                        <div class="popular-rating__value">4.9</div>
                    </div>
                    <div class="popular-info">
                        <h3 class="popular-info__title">Озеро возле гор</h3>
                        <div class="popular-info__subtitle">романтическое приключение</div>
                        <div class="popular-info__price">480 $</div>
                        <div class="popular-info__description">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.</div>
                        <button type="button" class="btn btn_primary">Программа тура</button>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide_popular">
                    <img class="popular-image" src="./assets/img/image-popular-2.png" alt="image-popular-2">
                    <div class="popular-rating">
                        <div class="popular-rating__star">
                            <svg class="popular-rating__star-icon">
                                <use href="#icon-star"></use>
                            </svg>
                        </div>
                        <div class="popular-rating__value">4.5</div>
                    </div>
                    <div class="popular-info">
                        <h3 class="popular-info__title">Ночь в горах</h3>
                        <div class="popular-info__subtitle">в компании друзей</div>
                        <div class="popular-info__price">500 $</div>
                        <div class="popular-info__description">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.</div>
                        <button type="button" class="btn btn_primary">Программа тура</button>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide_popular">
                    <img class="popular-image" src="./assets/img/image-popular-3.png" alt="image-popular-3">
                    <div class="popular-rating">
                        <div class="popular-rating__star">
                            <svg class="popular-rating__star-icon">
                                <use href="#icon-star"></use>
                            </svg>
                        </div>
                        <div class="popular-rating__value">5.0</div>
                    </div>
                    <div class="popular-info">
                        <h3 class="popular-info__title">Йога в горах</h3>
                        <div class="popular-info__subtitle">для тех, кто забоится о себе</div>
                        <div class="popular-info__price">230 $</div>
                        <div class="popular-info__description">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его поисками в классической латинской литературе.</div>
                        <button type="button" class="btn btn_primary">Программа тура</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>